.tab-default{
  margin-left:10px;
}

.tab-default ul{
    display:block;
    padding:0;
    margin:0;
}
.tab-default ul li{
    display:inline-flex;
    list-style-type: none;
    padding:0;
    margin: 0;
    text-align: center;
    margin-top:0;
}



.tab-container{
  margin-left:5px;
}

.tab-container ul{
    display:block;
    padding:0;
    margin:0;
}
.tab-container ul li{
    display:inline-flex;
    list-style-type: none;
    padding:0;
    margin: 0;
    text-align: center;
}
