/* Author Nirupam Barman Dated 2020*/
:host{
    
  --control-color:var(--color-blue-45);
  --control-hover-focus-color:var(--color-blue-15);
  --control-error:var(--color-red-45);
  --control-error-hover-focus-color:var(--color-red-15);
}